<div style="margin-top: 5rem;" class="container text-center">
    <h1 style="color: darkorange;">HERE WE ARE!!</h1>
    <br>
    <div class="card-deck text-center">
        <div class="card bg-dark" style="color: darkorange;">
            <img class="card-img-top" src="./assets/photos/contact/rutvik.jpg" alt="rutvik" style="width:100%;height:25rem;">
            <div class="card-body">
                <h4 class="card-title">
                    Rutvik Kathrecha<br>
                    3rd Year<br>
                    Computer Engineering<br><br>
                    <a href="mailto:rutvik5101@gmail.com">rutvik5101@gmail.com</a>
                </h4>
            </div>
        </div>
        <div class="card bg-dark" style="color: darkorange;">
            <img class="card-img-top" src="./assets/photos/contact/rutwik.jpg" alt="rutwik" style="width:100%;height:25rem;">
            <div class="card-body">
                <h4 class="card-title">
                    Rutwik Kikani<br>
                    3rd Year<br>
                    Computer Engineering<br><br>
                    <a href="mailto:kikanirutwik001@gmail.com">kikanirutwik001@gmail.com</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<br>
<br>