<!-- Indian tours page -->
<br>
<div class="container">
  <br>
  <br>
  <h1 style="color:darkorange">Indian Tours</h1>
  <hr>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/photos/andaman/andaman.jpg" alt="andaman"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/andaman" class="stretched-link text-dark">Andaman</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>25990*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/andhra-pradesh/lepakshi-temple.jpg" alt="andhra-pradesh"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/andhra" class="stretched-link text-dark">Andhra Pradesh</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>14000*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/goa/goa.jpg" alt="goa" style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/goa" class="stretched-link text-dark">Goa</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>17000*</span>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/photos/gujarat/gujarat.jpg" alt="gujarat"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/gujarat" class="stretched-link text-dark">Gujarat</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>17000*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/himachal/manali.jpg" alt="himachal"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/himachal" class="stretched-link text-dark">Himachal</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>11990*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/kailash-manasarovar/mount-kailash.jpg" alt="kailash"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/kailash" class="stretched-link" style="color:#101820FF">Kailash Manasarovar</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>17990*</span>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/photos/kashmir/dal-lake.jpg" alt="kashmir"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/kashmir" class="stretched-link text-dark">Kashmir</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>20990*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/kerala/houseboat-kerala.jpg" alt="kerala"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/kerala" class="stretched-link" style="color:#101820FF">Kerala</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>20990*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/ladakh/leh-ladakh.jpg" alt="ladakh"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/leh" class="stretched-link" style="color:#101820FF">Leh Ladakh</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>52990*</span>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/photos/rajasthan/rajasthan.jpg" alt="rajasthan"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/rajasthan" class="stretched-link text-dark">Rajasthan</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>26990*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/darjeeling/darjeeling.jpg" alt="darjeeling"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/sikkim" class="stretched-link text-dark">Sikkim Darjeeling</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>35990*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/uttarpradesh/varanasi.jpg" alt="uttarpradesh"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/up" class="stretched-link" style="color:#101820FF">Uttarpradesh</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>18990*</span>
      </div>
    </div>
  </div>
  <br>
</div>