<div class="container" style="margin-top: 5rem;">
    <h1 style="color: darkorange;">Terms & Conditions</h1>
    <hr>
    <p>Thank you for choosing R&R for the best travel experience. We take all efforts to ensure that you have a
        warm and a delightful holiday experience. We devote keen attention to every minute detail of your tour. At the
        same time, we request you to read and follow the below Terms and Conditions. In order to use this Website you
        must give your unqualified consent to these terms and conditions and if you disagree with any part of these
        terms and conditions then you may not use this site in any way. Therefore, please make sure you read the terms
        and conditions very carefully to avoid any misunderstanding and ensure a hassle-free and enjoyable tour.
    </p>
    <p><b>By using our website, you confirm your agreement to the website’s terms of use, and you undertake to comply
            with them.
        <br>
        Terms and Conditions means these terms and conditions and includes Booking criteria, Tour Payment, Booking Form,
        Web Pages, Brochure, Cancellation Policy, Itinerary and other documents as may be notified from time to time.</b>
    </p>
</div>