<br>
<div class="container" style="margin-top: 3rem;">
  <!-- state description -->
  <h3 class="text-dark">Australia NewZealand</h3>
  <h5 style="color:darkorange;">Spectacular Australia New Zealand Tours</h5>
  <p>A voyage of Endless fun & Fascinating adventures! Spectacularly situated cities, world’s most magnificent coral reefs, fjords with glacier retreats & wildlife of almost unbelievable grandeur- that's the allure of Kesari’s Australia New Zealand Tours. Enchanting natural beauty is served raw down here. Get familiar with the Waitomo Glowworm Caves; cruise the shimmering waters of Milford Sound; experience the Great Barrier Reef and gaze at the landscapes of Queenstown.Feed kangaroos, watch the exciting Penguin Parade or enjoy Tandem Sky Diving, Australia Tour Packages are filled with soulful adventures Kesari’s New Zealand Tours will take you through the picturesque Lake Pukaki, famous 12 Apostles rock and Puzzling world at Wannaka. Australia New Zealand Tours are here to bewilder you and get you the best experiences.</p>
  <br>
  <!-- tours -->
  <div class="card-deck text-center">
    <div class="card">
      <img class="card-img-top" src="./assets/photos/australia/australia.jpg" alt="egypt" style="width:100%;height:250px;">
      <div class="card-body">
        <p class="bg-light">6 Nights 4 Cities 1 Country</p>
        <h5 style="color:darkorange;">IMAGES OF AUSTRALIA</h5>
        <a routerLink="/tour-details" class="btn btn-secondary" role="button">View Details</a>
        <button style="margin-left: 4px;" type="button" class="btn btn-secondary" data-toggle="modal"
          data-target="#myModal">Dates and Cost</button>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/australia/gold-coast.jpg" alt="hurghada"
        style="width:100%;height:250px;">
      <div class="card-body">
        <p class="bg-light">6 Nights 5 Cities 2 Country</p>
        <h5 style="color:darkorange;">AUSTRALIA MFL</h5>
        <a routerLink="/tour-details" class="btn btn-secondary" role="button">View Details</a>
        <button style="margin-left: 4px;" type="button" class="btn btn-secondary" data-toggle="modal"
          data-target="#myModal">Dates and Cost</button>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/newzealand/night.jpg" alt="south-africa"
        style="width:100%;height:250px;">
      <div class="card-body">
        <p class="bg-light">6 Nights 4 Cities 1 Country</p>
        <h5 style="color:darkorange;">NEW ZEALAND MFL</h5>
        <a routerLink="/tour-details" class="btn btn-secondary" role="button">View Details</a>
        <button style="margin-left: 4px;" type="button" class="btn btn-secondary" data-toggle="modal"
          data-target="#myModal">Dates and Cost</button>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck text-center">
    <div class="card">
      <img class="card-img-top" src="./assets/photos/newzealand/new-zealand.jpg" alt="lion" style="width:100%;height:250px;">
      <div class="card-body">
        <p class="bg-light">8 Nights 4 Cities 1 Country</p>
        <h5 style="color:darkorange;">ALL OF NEW ZEALAND</h5><br>
        <a routerLink="/tour-details" class="btn btn-secondary" role="button">View Details</a>
        <button style="margin-left: 4px;" type="button" class="btn btn-secondary" data-toggle="modal"
          data-target="#myModal">Dates and Cost</button>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/australia/ocean-road.jpg" alt="waterfall"
        style="width:100%;height:250px;">
      <div class="card-body">
        <p class="bg-light">8 Nights 5 Cities 2 Country</p>
        <h5 style="color:darkorange">AUSTRALIAN ESCAPE</h5><br>
        <a routerLink="/tour-details" class="btn btn-secondary" role="button">View Details</a>
        <button style="margin-left: 4px;" type="button" class="btn btn-secondary" data-toggle="modal"
          data-target="#myModal">Dates and Cost</button>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/australia/sydney.jpg" alt="pink-flamingo"
        style="width:100%;height:250px;">
      <div class="card-body">
        <p class="bg-light">12 Nights 8 Cities 3 Country</p>
        <h5 style="color:darkorange;">AUSTRALIA NEW ZEALAND ECONOMY</h5>
        <a routerLink="/tour-details" class="btn btn-secondary" role="button">View Details</a>
        <button style="margin-left: 4px;" type="button" class="btn btn-secondary" data-toggle="modal"
          data-target="#myModal">Dates and Cost</button>
      </div>
    </div>
  </div>
  <!-- model for tour dates and cost details -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tour Dates and Cost</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead class="bg-secondary text-white">
              <tr>
                <th>Departure Date (dd-mm-yyyy)</th>
                <th>Departure To-From</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>30-Oct-2019</td>
                <td>MUMBAI-CAIRO</td>
                <td><i class="fa fa-rupee"></i> 137,118</td>
              </tr>
              <tr>
                <td>30-Oct-2019</td>
                <td>KOCHI-DUBAI</td>
                <td><i class="fa fa-rupee"></i> 137,118</td>
              </tr>
              <tr>
                <td>06-Nov-2019</td>
                <td>MUMBAI-CAIRO</td>
                <td><i class="fa fa-rupee"></i> 137,118</td>
              </tr>
              <tr>
                <td>18-Dec-2019</td>
                <td>MUMBAI-CAIRO</td>
                <td><i class="fa fa-rupee"></i> 137,118</td>
              </tr>
              <tr>
                <td>18-Dec-2019</td>
                <td>KOCHI-DUBAI</td>
                <td><i class="fa fa-rupee"></i> 137,118</td>
              </tr>
              <tr>
                <td>25-Dec-2019</td>
                <td>MUMBAI-CAIRO</td>
                <td><i class="fa fa-rupee"></i> 142,118</td>
              </tr>
              <tr>
                <td>22-Jan-2020</td>
                <td>MUMBAI-CAIRO</td>
                <td><i class="fa fa-rupee"></i> 137,118</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>