<div class="container" style="margin-top: 5rem;">
    <h1 style="color: darkorange;">Frequently Asked Questions</h1>
    <h4>There are no dumb questions. Go on, ask us.</h4>
    <div style="margin-top: 3rem;">
        <h2>General Enquiries</h2>
        <hr>
        <h4><b>How many travellers will be there as part of a group tour?</b></h4>
        <p>The number of travellers varies depending on the destination. The usual group size for an International tour
            is between 40 to 50 guests and that for an Indian tour is between 30 to 40 guests. In the case of speciality
            tours, there are chances that the number of travelling may increase.
        </p>
        <h4><b>Can I extend my stay while on a group tour?</b></h4>
        <p>Yes, you can indeed extend your stay while on a group tour. This extension of stay before or after a tour
            would incur additional charges. You can do it by informing your travel advisor at the time of booking.
        </p>
        <h4><b>Where can I find information about all R&R products?</b></h4>
        <p>The website www.r&r.com contains all of the information about all our Products and
            services. You can also call on the mobile number 9898893467 and speak to our travel advisors.
        </p>
        <h4><b>Can I join a tour midway or are part tours possible?</b></h4>
        <p>Part tours are possible only for select tours. Any deviations from the planned tour itinerary would incur
            additional charges. Should you wish to do only a part tour or extend your stay before or after a tour, you
            can check the possibility by informing your travel advisor at the time of booking.
        </p>
        <h4><b>Does the tour itinerary change on tour?</b></h4>
        <p>While on tour, the tour itinerary can change at times due to external circumstances pertaining to the
            airline, hotel, sightseeing, transport or due to force majeure events. In case of any such changes, guests
            are notified of the change on tour itself.
        </p>
    </div>
</div>