<br>
<div class="container" style="margin-top: 3rem;">
    <!-- state description -->
    <h3 class="text-dark">Kerala</h3>
    <h5 style="color:darkorange;">Captivating Kerala Tours</h5>
    <p>Nature at its best! Thick luscious foliage, relaxed backwaters, blissful temples and synagogues, coral beaches
        and serene lakes are apt to describe Kerala. Visit Kerala to explore nature's benevolence. Grab Kanyakumari tour
        packages along with Kerala tours for an enriching experience. Kesari's Kerala Tour Packages also cater to
        Honeymoon, Ladies' Special and Chota Break needs of customers. Our caring Tour Leaders will take care of your
        every need during your Kesari tours. Sumptuous Veg, Non-Veg and Jain Meals are served on all our tours. We
        delight you further with our Carry Zero Money Tours. So why wait, Book you Kerala Tour now!
    </p>
    <br>
    <!-- tours -->
    <div class="card-deck text-center">
        <div class="card">
            <img class="card-img-top" src="./assets/photos/kerala/houseboat-kerala.jpg" alt="egypt"
                style="width:100%;height:250px;">
            <div class="card-body">
                <p class="bg-light">7 Nights 8 Cities 1 Country</p>
                <h5 style="color:darkorange;">KERALA ESCAPE</h5><br>
                <a routerLink="/tour-details" class="btn btn-secondary" role="button">View Details</a>
                <button style="margin-left: 4px;" type="button" class="btn btn-secondary" data-toggle="modal"
                    data-target="#myModal">Dates and Cost</button>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="./assets/photos/kerala/munnar.jpg" alt="hurghada"
                style="width:100%;height:250px;">
            <div class="card-body">
                <p class="bg-light">10 Nights 5 Cities 1 Country</p>
                <h5 style="color:darkorange;">MUNNAR KUMARAKOM</h5><br>
                <a routerLink="/tour-details" class="btn btn-secondary" role="button">View Details</a>
                <button style="margin-left: 4px;" type="button" class="btn btn-secondary" data-toggle="modal"
                    data-target="#myModal">Dates and Cost</button>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="./assets/photos/kerala/kanyakumari.jpg" alt="south-africa"
                style="width:100%;height:250px;">
            <div class="card-body">
                <p class="bg-light">6 Nights 6 Cities 1 Country</p>
                <h5 style="color:darkorange;">KERALA KANYAKUMARI ECONOMY</h5>
                <a routerLink="/tour-details" class="btn btn-secondary" role="button">View Details</a>
                <button style="margin-left: 4px;" type="button" class="btn btn-secondary" data-toggle="modal"
                    data-target="#myModal">Dates and Cost</button>
            </div>
        </div>
    </div>
    <!-- model for tour dates and cost details -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tour Dates and Cost</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead class="bg-secondary text-white">
                            <tr>
                                <th>Departure Date (dd-mm-yyyy)</th>
                                <th>Departure To-From</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>30-Oct-2019</td>
                                <td>MUMBAI-CAIRO</td>
                                <td><i class="fa fa-rupee"></i> 137,118</td>
                            </tr>
                            <tr>
                                <td>30-Oct-2019</td>
                                <td>KOCHI-DUBAI</td>
                                <td><i class="fa fa-rupee"></i> 137,118</td>
                            </tr>
                            <tr>
                                <td>06-Nov-2019</td>
                                <td>MUMBAI-CAIRO</td>
                                <td><i class="fa fa-rupee"></i> 137,118</td>
                            </tr>
                            <tr>
                                <td>18-Dec-2019</td>
                                <td>MUMBAI-CAIRO</td>
                                <td><i class="fa fa-rupee"></i> 137,118</td>
                            </tr>
                            <tr>
                                <td>18-Dec-2019</td>
                                <td>KOCHI-DUBAI</td>
                                <td><i class="fa fa-rupee"></i> 137,118</td>
                            </tr>
                            <tr>
                                <td>25-Dec-2019</td>
                                <td>MUMBAI-CAIRO</td>
                                <td><i class="fa fa-rupee"></i> 142,118</td>
                            </tr>
                            <tr>
                                <td>22-Jan-2020</td>
                                <td>MUMBAI-CAIRO</td>
                                <td><i class="fa fa-rupee"></i> 137,118</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>