<!-- footer start -->
<footer>
  <div class="container-fluid bg-dark" style="color:darkorange;">
    <br>
    <div class="row">
      <div class="col" style="margin: 0 0 0 10px;">
        <h1 class="text-uppercase text-white" style="color:darkorange"> R&R Tourism</h1>
        <h3>#CelebrateLife</h3>
      </div>
      <div class="col">
        <h6 class="text-uppercase font-weight-bold" style="color:darkorange">Useful links</h6>
        <hr class="bg-light">
        <p>
          <a routerLink="/myaccount" class="text-light">My Account</a>
        </p>
        <p>
          <a routerLink="/faq" class="text-light">FAQ</a>
        </p>
        <p>
          <a routerLink="/tc" class="text-light">Terms & Conditions</a>
        </p>
      </div>
      <div class="col">
        <h6 class="text-uppercase font-weight-bold" style="color:darkorange">Contact</h6>
        <hr class="bg-light">
        <p><a href="https://goo.gl/maps/vxq8VqskJHxPggTcA" class="text-light"><i class="fa fa-home fa-lg" style="padding:0px 5px;"></i>
            Rajkot,Gujarat-360007,India</a></p>
        <p><a href="mailto:rutvik5101@gmail.com" class="text-light"><i class="fa fa-envelope" style="padding:0px 5px;"></i>
            rutvik5101@gmail.com</a></p>
        <p><a href="tel:9898893467" class="text-light"><i class="fa fa-phone fa-lg" style="padding:0px 5px;"></i> +91
            9898893467</a>&nbsp;&nbsp;|&nbsp;<a href="tel:8160802770" class="text-light"> +91
              8160802770</a></p>
        <a href="https://www.facebook.com/rutvik.kathrecha" class="text-white"><i class="fa fa-facebook fa-lg"
            style="padding:0px 5px;"></i></a>
        <a href="https://twitter.com/RutvikKathrecha" class="text-white"><i class="fa fa-twitter fa-lg"
            style="padding:0px 5px;"></i></a>
        <a href="https://www.linkedin.com/in/rutvik-kathrecha-91303b172/" class="text-white"><i
            class="fa fa-linkedin fa-lg" style="padding:0px 5px;"></i></a>
        <a href="https://www.instagram.com/rkathrecha_1110/" class="text-white"><i class="fa fa-instagram fa-lg"
            style="padding:0px 5px;"></i></a>
      </div>
    </div>
    <div class="footer-copyright text-center py-3 bg-dark-50">© 2019 R&R Tours Pvt Ltd.</div>
  </div>
</footer>
<!-- footer end -->