<!-- <form (ngSubmit)="onSubmit()" #regForm="ngForm">
    <input type="text" required minlength="4" [(ngModel)]="name" name="name" #name_ctl="ngModel">
    <div *ngIf = "name_ctl.invalid && (name_ctl.dirty || name_ctl.touched)">
        <div *ngIf="name_ctl.errors.required">
            name is required.
        </div>
        <div *ngIf="name_ctl.errors.minlength">
                name must be 4 characters long.
        </div>
    </div>
    <button type="submit" [disabled]="!regForm.form.valid">
        submit
    </button>
</form> -->