<!-- International tours page -->
<br>
<div class="container">
  <br>
  <br>
  <h1 style="color:darkorange">International Tours</h1>
  <hr>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/photos/africa/africa.jpg" alt="africa" style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/state" class="stretched-link text-dark">Africa</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>137118*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/america/america.jpg" alt="america"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/america" class="stretched-link text-dark">America</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>170000*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/australia/australia.jpg" alt="australia"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/australia" class="stretched-link text-dark">Australia-Newzealand</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>175000*</span>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/photos/bhutan/bhutan.jpg" alt="bhutan" style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/bhutan" class="stretched-link text-dark">Bhutan</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>61990*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/dubai/burj-al-arab.jpg" alt="dubai"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/dubai" class="stretched-link text-dark">Dubai</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>62811*</span>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/photos/europe/eiffel-tower.jpg" alt="europe"
        style="width:100%;height:250px;">
      <div class="card-body">
        <a routerLink="/europe" class="stretched-link" style="color:#101820FF">Europe</a><br>
        <span style="color:darkorange">Starting from <i class="fa fa-rupee"></i>109770*</span>
      </div>
    </div>
  </div>
  <br>
</div>